.Stats{
  position: absolute;
  margin-top: -40%;
  margin-left: 70%;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.h1{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;


}
