.Stats{
  position: absolute;
  margin-top: -50%;
  margin-left: 80%;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.h1{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;


}
