
.uploadButton {

  -webkit-animation: glowing 1500ms infinite;


}

.upload-div{
  margin-top: 230px;
  margin-bottom: -20px;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

.upload{
  margin-top:-150px;
  margin-right: 25px;
}


.crop-container{
  position:absolute;
  height:200px;
  width:200px;
  right:43.5%;
  margin-top: 0px;

}
