.get-input{
  width: 25%;
  padding: 30px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

.form-group{
  margin-top: 200px;
}

.user-input{
  margin-top: 50px;
}


.create-button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  margin-top: 50px;


}
